.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.ButtonText {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size:30px;
  font-weight: 500;
}

.GenerateButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  margin-left: auto;
}

.CopyButtonVisible {
  display: flex;
  justify-content: center;
  align-items: center;
}

.CopyButtonHidden {
  display: none;
}

.PasswordTextContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.PasswordText {
  font-size: 2rem;
  margin: 20px 0;
}

.PasswordLength {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 0px;
  position: absolute
}

.LengthInput {
  font-size: 30px;
  width: 70px;
}

.PasswordLengthSliderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  width: 500px;
  margin-bottom: -16%;
  margin-top: 11%;
}

.PasswordLengthSlider {
  -webkit-appearance: none;
  width: 40%;
  height: 15px;
  background:white;
  outline: none;
  border: 5px solid black;
  border-radius: 8px;
  -webkit-appearance: none;
  appearance: none;
  margin-left: -30px;
  background: white;
  cursor: pointer;
}


.PasswordLengthSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 40px;
  background: white;
  cursor: pointer;
  border: 5px solid black;
  border-radius: 4px;
}


.PasswordOptionsContainer {
  flex-direction: column;
  margin: 20px 0;
  margin-left: 70%;
  margin-top: -10%;
  margin-right: 0px;
  width: 200px;
}

.PasswordOptions {
  justify-content: center;
  align-items: center;
  margin: 5px 0;
  margin-right: 20px;
}

.Checkbox {
  width: 20px;
  height: 20px;
}

.CheckboxLabel {
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-left: 5px;
}

.LengthLabel {
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 5px;
}
