.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.GenerateButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.GenerateButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.CopyButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.CopyButtonVisible {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.CopyButtonHidden {
  display: none;
}

.PasswordText {
  font-size: 2rem;
  margin: 20px 0;
}
